﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntAdmin" Runat="Server">
   <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="js/ShortcutKey.js" type="text/javascript"></script>
<script type ="text/javascript">


    $(document).ready(
    function () {

        Mousetrap.bind('shift+up', function (e) {
            alert("Error:Object Reference not set to an instance of an object");
            Mousetrap.bind('shift+left', function (e) {
                
                    window.location = "Form1.aspx";
            
            
               
            });

        });

        Mousetrap.bind('shift+down', function (e) {
            alert("Error:Object Reference not set to an instance of an object");
              Mousetrap.bind('shift+right', function (e) {
          
            window.location = "Form2.aspx";
            
    });
        });





    }
    );
</script>
<div class="right_col" role="main">

    

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <img src="images/cakebg.jpg"  style="width:100%"/>

                         
                    </div>

                </div>
                <br />

             <div class="footer">
                        <p class="pull-right">2016 - 2017 © Superstore. Brought to you by <a>Matrix Solutions</a>. |
                            <span class="lead"> <i class="fa fa-paw"></i> Matrix Solutions!</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
               
            </div>
</asp:Content>

