﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="managedeliverynote.aspx.cs" Inherits="managedeliverynote" %>

    <%@ Register src="~/usercontrols/Footer.ascx" TagName="ucfooter" TagPrefix="uc1" %>
  

<%@ Register Src="~/Templates/DeliveryNote.ascx" TagName="AddKit" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cntAdmin" runat="Server">
    <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
    <script src="js/grid.locale-en.js" type="text/javascript"></script>
    <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-ui.js"></script>
    <script src="js/customValidation.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.uilock.js"></script>
    <link href="semantic.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/SearchPluginforDN.js"></script>
    <script language="javascript" type="text/javascript">

        var m_KitID = 0;
        var ProductCollection = [];
        var mrpeditable = false;
        var saleRateeditable = false;
        var BillBasicType = "";

        function clsProduct() {
            this.Item_ID = 0;
            this.Item_Code = "";
            this.Item_Name = "";
            this.Qty_In_Case = 0;
            this.Qty = 0;
            this.Rate = 0;
            // this.Sale_Rate = 0;
            this.MRP = 0;
            this.Amount = 0;
            this.QTY_TO_LESS = 0;
            this.Tax_ID = 0;
            this.TaxP = 0;
            this.Stock = 0;
            this.Dis = 0;
            this.Excise = 0;
            this.Abatement = 0;
        }

        var m_KitID = 0;

        function CommonCalculation() {

            var Amt = Number($("#txtQty").val()) * $("#txtRate").val();

            $("#txtAmount").val(Amt);
        }


        $(document).on("click", "#btnDel", function (event) {

            var RowIndex = Number($(this).closest('tr').index());

            ProductCollection.splice(RowIndex, 1);
            BindRows();


        });



        function BindRows() {


            var TotalAmount = 0;
            var ExciseAmount = 0;
            var html = "";
            var SaleRate = 0;
            var Excise = 0;

            for (var i = 0; i < ProductCollection.length; i++) {



                html += "<tr>";
                html += "<td>" + ProductCollection[i]["Item_Code"] + "</td>";
                html += "<td>" + ProductCollection[i]["Item_Name"] + "</td>";
                html += "<td style='display:none'>" + ProductCollection[i]["Qty_In_Case"] + "</td>";
                html += "<td>" + ProductCollection[i]["Qty"] + "</td>";
                html += "<td style='display:none'>" + ProductCollection[i]["Scheme"] + "</td>";
                html += "<td>" + ProductCollection[i]["Rate"] + "</td>";

                if (BillBasicType == "I") {
                    Excise = ProductCollection[i]["Excise"];

                    SaleRate = ProductCollection[i]["MRP"] - ((ProductCollection[i]["MRP"] * ProductCollection[i]["TaxP"]) / (100 + Number(ProductCollection[i]["TaxP"])));
                    SaleRate = SaleRate - ((Number(SaleRate) * Number(Excise)) / (100 + Number(Excise)));
                    SaleRate = (SaleRate * (100 - Number(ProductCollection[i]["Abatement"])) / 100);




                }
                else {

                    SaleRate = (Number(ProductCollection[i]["Sale_Rate"]) * (100 - Number(ProductCollection[i]["Abatement"])) / 100);


                }

                if ($("#rdbExcise").prop("checked") == true) {

                    //html += "<td>" + SaleRate.toFixed(2) + "</td>";
                }
                else {
                    // html += "<td style='display:none'>" + ProductCollection[i]["Sale_Rate"] + "</td>";
                }
                html += "<td>" + ProductCollection[i]["MRP"] + "</td>";
                html += "<td>" + ProductCollection[i]["Amount"] + "</td>";
                html += "<td>" + ProductCollection[i]["Dis3P"] + "</td>";
                html += "<td style='display:none'>" + ProductCollection[i]["QTY_TO_LESS"] + "</td>";
                html += "<td >" + ProductCollection[i]["Stock"] + "</td>";
                html += "<td>" + ProductCollection[i]["TaxP"] + "</td>";
                html += "<td>" + ProductCollection[i]["Excise"] + "</td>";
                html += "<td style='display:none'>" + ProductCollection[i]["Abatement"] + "</td>";
                html += "<td><img id='btnDel' src='images/trashico.png'  style='cursor:pointer;width:20px'   /></td>";
                html += "</tr>";

                TotalAmount += parseFloat(ProductCollection[i]["Amount"])


                ExciseAmount += parseFloat((((ProductCollection[i]["Excise"]) * (ProductCollection[i]["Rate"])) / 100))


            }

            $("#txtBillval").val(TotalAmount.toFixed(2));
            if ($("#rdbnonexcise").prop("checked") == true) {
                $("#txtExcise").val("0");
            }
            else {
                $("#txtExcise").val(ExciseAmount.toFixed(2));
            }

            //var DisPer = $("#ddlDealer option:selected").attr("dis");
            var DisPer = "0";
            var DisAmt = ((Number(TotalAmount) * Number(DisPer)) / 100);
            $("#txtDisPer").val(DisPer);
            $("#txtDisAmt").val(DisAmt);
            $("#txtAdj").val("0");

            $("#txtnetAmt").val(Number(TotalAmount.toFixed(2)) - Number(DisAmt.toFixed(2)) + Number($("#txtExcise").val()));
            $("#tbKitProducts").html(html);



        }


        function Settings() {


            $.ajax({
                type: "POST",
                data: '{ }',
                url: "managedeliverynote.aspx/FillSettings",
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {


                    var obj = jQuery.parseJSON(msg.d);




                    if (obj.DRate == "0") {
                        $("#txtRate").attr('disabled', 'disabled');
                    }
                    else {
                        $("#txtRate").removeAttr('disabled');
                    }

                    if (obj.DMRP == "0") {
                        $("#txtMarketPrice").attr('disabled', 'disabled');
                    }
                    else {
                        $("#txtMarketPrice").removeAttr('disabled');
                    }





                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var obj = jQuery.parseJSON(xhr.responseText);
                    alert(obj.Message);
                },
                complete: function () {


                }

            });

        }


        function ResetControls() {

            m_KitID = 0;
            $("#tbKitProducts").html("");
            $("#txtTotalAmount").val("");
            $("#txtMRP").val("");
            $("#txtSaleRate").val("");
            $("#txtddlItems").val("").removeAttr("disabled");
           // $("#ddlItems").html("<option value='0'></option>")
            $("#txtGrNo").val("");
            $("#txtVehNo").val("");
            $("#ddlDealer").val("0");

            $("#ddlRefno").val("0");
            $("#txtBillval").val("");
            $("#txtDisAmt").val("");
            $("#txtAdj").val("");
            $("#txtnetAmt").val("");
            $("#txtExcise").val("");
            ProductCollection = [];
            ResetList();
        }

        function ResetList() {


            $("#txtCode").val("");
            $("#txt_Code").val("");
            $("#txtName").val("");
            $("#txtQty").val("");
            $("#txtRate").val("");
            $("#txtMarketPrice").val("");
            $("#txtAmount").val("");
            $("#txtTax").val("");
            $("#ddlProducts").html(" ");
            $("#txtddlProducts").val("").focus();
            $("#txtStock").val("");



        }






        function GetPluginData(Type) {

            if (Type == "Kit") {

                var IsExist = $("#ddlItems option:selected").attr("is_exist");

                if (IsExist != 0) {

                    alert("Kit Already Created");
                    $("#txtddlItems").val("").focus();
                   // $("#ddlItems").html("<option value='0'></option>")

                    return;

                }



                $("#txtMRP").val($("#ddlItems option:selected").attr("mrp"));
                $("#txtSaleRate").val($("#ddlItems option:selected").attr("sale_rate"));



                $("#txtTotalAmount").val("0");



            }
            else if (Type == "Product") {


                if ($("#ddlBranch").val() == "0") {
                    alert("Please choose Branch");
                    return;
                }

                if ($("#ddlGodown").val() == "0") {
                    alert("Please choose Godown");
                    return;
                }
                var m_ItemCode = $("#ddlProducts option:selected").attr("item_code");
                var Rate = 0;
                var MRP = 0;
                var Abatement = 0;
                var TaxAmt = 0;
                var ExciseId = 0;


                Rate = $("#ddlProducts option:selected").attr("srate");
                MRP = $("#ddlProducts option:selected").attr("mrp");
                TaxAmt = $("#ddlProducts option:selected").attr("tax");
                Abatement = $("#ddlProducts option:selected").attr("Abatement");
                Excise = $("#ddlProducts option:selected").attr("Excise");
                ExciseId = $("#ddlProducts option:selected").attr("ExciseId");



                if (BillBasicType == "I") {



                    Rate = MRP - ((Number(MRP) * Number(TaxAmt)) / (100 + Number(TaxAmt)));
                    Rate = Rate - ((Number(Rate) * Number(Excise)) / (100 + Number(Excise)));

                    Rate = (Rate * (100 - Number(Abatement)) / 100);





                }
                else {

                    Rate = (Rate * (100 - (Abatement)) / 100);

                }


                $("#txtCode").val(m_ItemCode);
                $("#txtName").val($("#ddlProducts option:selected").text());
                $("#txtQty").val("").focus();
                if ($("#rdbExcise").prop("checked") == true || $("#rdballexcise").prop("checked") == true) {
                    if (ExciseId == 0) {
                        $("#txtRate").val($("#ddlProducts option:selected").attr("srate"));
                    }
                    else {
                        $("#txtRate").val(Rate.toFixed(2));
                    }
                }
                else {
                    $("#txtRate").val($("#ddlProducts option:selected").attr("srate"));
                }
                $("#txtMarketPrice").val($("#ddlProducts option:selected").attr("mrp"));
                $("#txtAmount").val(0);



                var CurrentStock = 0;
                for (var i = 0; i < ProductCollection.length; i++) {

                    if (m_ItemCode == ProductCollection[i]["Item_Code"]) {

                        CurrentStock = parseFloat(CurrentStock) + parseFloat(ProductCollection[i]["Qty"]);
                    }

                }

                $("#txtStock").val(parseFloat($("#ddlProducts option:selected").attr("stock_qty")) - parseFloat(CurrentStock));
            }
        }




        function GetBillType() {
            $.ajax({
                type: "POST",
                data: '{ }',
                url: "managedeliverynote.aspx/GetAllBillSetting",
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {

                    var obj = jQuery.parseJSON(msg.d);
                    BillBasicType = obj.setttingData.retail_bill;



                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var obj = jQuery.parseJSON(xhr.responseText);
                    alert(obj.Message);
                },
                complete: function () {



                }

            });

        }


        $(document).ready(function () {



            GetBillType();









            $("#btnReprint").click(
     function () {

         var SelectedRow = jQuery('#jQGridDemo').jqGrid('getGridParam', 'selrow');
         if ($.trim(SelectedRow) == "") {
             alert("No Record is selected to Reprint");
             return;
         }

         var m_BillNowPrefix = $('#jQGridDemo').jqGrid('getCell', SelectedRow, 'BillPrefix')

         $.uiLock('');

         var PrintType = "";
         if ($("#rdbExcise").prop("checked") == true) {

             PrintType = "DNEx";

         }
         else if ($("#rdbnonexcise").prop("checked") == true) {

             PrintType = "DN";
         }

         else if ($("#rdballexcise").prop("checked") == true) {

             PrintType = "DNEx";
         }


         $.ajax({
             type: "POST",
             data: '{"PrintType": "' + PrintType + '","BillNowPrefix": "' + m_BillNowPrefix + '"}',
             url: "BillScreen.aspx/Reprint",
             contentType: "application/json",
             dataType: "json",
             success: function (msg) {

                 var obj = jQuery.parseJSON(msg.d);


             },
             error: function (xhr, ajaxOptions, thrownError) {

                 var obj = jQuery.parseJSON(xhr.responseText);
                 alert(obj.Message);
             },
             complete: function () {

                 $.uiUnlock();

             }

         });





     }
     );






            $('#txtDateFrom').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });


            $('#txtDateTo').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });

            Settings();


            $("#btnGo").click(
                   function () {

                       BindGrid();

                   }
                    );

            $("#rdbcfinished").change(
          function () {

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }


              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }

              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }



              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          }
          );


            $("#rdbraw").change(
          function () {

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }


              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }
              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }



              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          }
          );

            $("#rdbsemi").change(
          function () {

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }

              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }

              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }



              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          }
          );




            $("#rdbExcise").change(
          function () {


              ResetControls();

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }

              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }

              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }


              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          }
          );




            $("#rdbnonexcise").change(
          function () {

              ResetControls();

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }

              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }

              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }



              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          }
          );



            $("#rdballexcise").change(
          function () {

              ResetControls();

              $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
              var ItemType = "";

              if ($("#rdbcfinished").prop("checked") == true) {
                  ItemType = "3";
              }
              else if ($("#rdbraw").prop("checked") == true) {
                  ItemType = "1";
              }
              else if ($("#rdbsemi").prop("checked") == true) {
                  ItemType = "5";
              }

              var Excise = "0";
              if ($("#rdbExcise").prop("checked") == true) {
                  Excise = "1";

              }
              else if ($("#rdbnonexcise").prop("checked") == true) {
                  Excise = "2";
              }

              else if ($("#rdballexcise").prop("checked") == true) {
                  Excise = "2";
              }



              //$("#ddlProducts").supersearch({
              //    Type: "Product",
              //    Caption: "Please enter Item Name/Code ",
              //    AccountType: "",
              //    Godown: $("#ddlGodown").val(),
              //    ItemType: ItemType,
              //    Excise: Excise,
              //    Width: 214,
              //    DefaultValue: 0
              //});
          });





            $("#txtOrderDate").val($("#<%=hdntodaydate.ClientID %>").val());
            $("#txtBillDate").val($("#<%=hdntodaydate.ClientID %>").val());
            $("#txtDate").val($("#<%=hdntodaydate.ClientID %>").val());
            $("#txtDispDate").val($("#<%=hdntodaydate.ClientID %>").val());
            $("#txtDateFrom").val($("#<%=hdntodaydate.ClientID %>").val());
            $("#txtDateTo").val($("#<%=hdntodaydate.ClientID %>").val());

            $('#txtOrderDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });


            $('#txtBillDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });



            $('#txtDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });


            $('#txtDispDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });






            $.ajax({
                type: "POST",
                data: '{ }',
                url: "managekits.aspx/FillSettings",
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {

                    var obj = jQuery.parseJSON(msg.d);
                    mrpeditable = obj.Mrp;
                    saleRateeditable = obj.Sale;


                    if (saleRateeditable == "0") {

                        $("#txtRate").attr('disabled', 'disabled');

                    }
                    else {

                        $("#txtRate").removeAttr('disabled');
                    }

                    if (mrpeditable == "0") {
                        $("#txtMarketPrice").attr('disabled', 'disabled');

                    }
                    else {

                        $("#txtMarketPrice").removeAttr('disabled');
                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var obj = jQuery.parseJSON(xhr.responseText);
                    alert(obj.Message);
                },
                complete: function () {


                }

            });


            ResetList();

            $("#btnCancelDialog").click(
           function () {
               BindGrid();
               $("#KitDialog").dialog("close");
               $("#btnSave").removeAttr('disabled');

           }
           );

            $("#btnEdit").click(

           function () {


               var SelectedRow = jQuery('#jQGridDemo').jqGrid('getGridParam', 'selrow');

               var Prefix = $('#jQGridDemo').jqGrid('getCell', SelectedRow, 'Prefix');

               var BillNo = Prefix + m_KitID;



               $("#txtddlItems").prop("disabled", true);

               $.ajax({
                   type: "POST",
                   contentType: "application/json; charset=utf-8",
                   url: "managedeliverynote.aspx/GetById",
                   data: '{"BillNo":"' + BillNo + '"}',
                   dataType: "json",
                   success: function (msg) {

                       var obj = jQuery.parseJSON(msg.d);

                       $("#txtBillNo").val(obj.Delivery.Bill_No);
                       $("#txtGrNo").val(obj.Delivery.GR_No);
                       $("#txtBillDate").val(obj.Delivery.strBillDate);
                       $("#txtDate").val(obj.Delivery.strGrDate);
                       $("#txtDispDate").val(obj.Delivery.strDespDate);
                       $("#txtVehNo").val(obj.Delivery.Veh_No);
                       $("#ddlDealer").val(obj.Delivery.CCODE);
                       $("#ddlGodown").val(obj.Delivery.Godown_ID);
                       $("#ddlBranch").val(obj.Delivery.ForBranch);
                       $("#ddlRefno").val(obj.Delivery.Form_Name);
                       $("#txtBillval").val(obj.Delivery.Bill_Value);
                       $("#txtDisAmt").val(obj.Delivery.Dis3Amt);
                       $("#txtDisPer").val(obj.Delivery.Dis3P);
                       $("#txtAdj").val(obj.Delivery.Adjustment);
                       $("#txtnetAmt").val(obj.Delivery.Net_Amount);

                       $("#txtExcise").val(obj.Delivery.Excise_Amt);



                       if (obj.Delivery.Type == "1") {


                           $("#rdbExcise").prop("checked", true);
                           $("#rdbnonexcise").prop("checked", false);
                           $("#rdballexcise").prop("checked", false);

                       }
                       else if (obj.Delivery.Type == "0") {

                           $("#rdbExcise").prop("checked", false);
                           $("#rdbnonexcise").prop("checked", true);
                           $("#rdballexcise").prop("checked", false);
                       }

                       else if (obj.Delivery.Type == "2") {

                           $("#rdbExcise").prop("checked", false);
                           $("#rdbnonexcise").prop("checked", false);
                           $("#rdballexcise").prop("checked", true);
                       }


                       $("#<%=hdnpassing.ClientID %>").val(obj.Delivery.delchk);






                       ProductCollection = obj.DeliveryDetail;


                       BindRows();

                       $("#KitDialog").dialog({ autoOpen: true,

                           width: 860,
                           resizable: false,
                           modal: true
                       });



                   },
                   error: function (xhr, ajaxOptions, thrownError) {

                       var obj = jQuery.parseJSON(xhr.responseText);
                       alert(obj.Message);
                   },
                   complete: function () {


                       if ($("#<%=hdnpassing.ClientID %>").val() == "true") {

                           $("#btnSave").attr('disabled', 'disabled');

                       }
                       else {

                           $("#btnSave").removeAttr('disabled');

                       }



                       $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
                       var ItemType = "";

                       if ($("#rdbcfinished").prop("checked") == true) {
                           ItemType = "3";
                       }
                       else if ($("#rdbraw").prop("checked") == true) {
                           ItemType = "1";
                       }
                       else if ($("#rdbsemi").prop("checked") == true) {
                           ItemType = "5";
                       }


                       var Excise = "0";
                       if ($("#rdbExcise").prop("checked") == true) {
                           Excise = "1";

                       }
                       else if ($("#rdbnonexcise").prop("checked") == true) {
                           Excise = "2";
                       }

                       else if ($("#rdballexcise").prop("checked") == true) {
                           Excise = "2";
                       }


                       //$("#ddlProducts").supersearch({
                       //    Type: "Product",
                       //    Caption: "Please enter Item Name/Code ",
                       //    AccountType: "",
                       //    Godown: $("#ddlGodown").val(),
                       //    ItemType: ItemType,
                       //    Excise: Excise,
                       //    Width: 214,
                       //    DefaultValue: 0
                       //});

                   }
               });



           }
           );


            $("#btnSave").click(
            function () {


                if (!validateForm("dvDialog")) {
                    return;
                }
                //if ($("#ddlDealer").val() == "0") {
                //    alert("Please Choose Dealer");
                //    $("#ddlDealer").focus();
                //    return;
                //}

                if ($("#ddlBranch").val() == "0") {
                    alert("Please Choose Branch");
                    $("#ddlBranch").focus();
                    return;
                }


                if ($("#ddlGodown").val() == "0") {
                    alert("Please Choose Godown");
                    $("#ddlGodown").focus();
                    return;
                }



                if ($("#ddlRefno").val() == "0") {
                    alert("Please Choose Ref No");
                    $("#ddlRefno").focus();
                    return;
                }


                if (ProductCollection.length == 0) {

                    alert("Please choose Delivery Items");
                    $("#ddlProducts").focus();
                    return;
                }




                var objDelivery = {};



                objDelivery.Bill_No = $("#txtBillNo").val();

                if (objDelivery.Bill_No == "Auto") {
                    objDelivery.Bill_No = "0"
                }
                objDelivery.ForBranch = $("#ddlBranch").val();
                objDelivery.Bill_Date = $("#txtBillDate").val();
                objDelivery.GR_No = $("#txtGrNo").val();
                objDelivery.GR_Date = $("#txtDate").val();
                objDelivery.Veh_No = $("#txtVehNo").val();
                objDelivery.Dis1InRs = "false";
                objDelivery.Dis2InRs = "false";
                objDelivery.Dis2AftDedDis1 = "false";
                objDelivery.LocalOut = "Out";
                objDelivery.TaxAfterDis1 = "true";
                objDelivery.TaxAfterDis2 = "true";
                objDelivery.Remarks = $("#txtremarks").val();
                objDelivery.Bill_Value = $("#txtBillval").val();
                objDelivery.Dis1Amt = 0.00;
                objDelivery.Dis2Amt = 0.00;
                objDelivery.Dis3AftDis1PDis2 = "False";
                objDelivery.Dis3P = $("#txtDisPer").val();
                objDelivery.Dis3Amt = $("#txtDisAmt").val();
                objDelivery.TaxP = 0.00;
                objDelivery.TaxAmt = 0.00;
                objDelivery.Total_Amount = $("#txtnetAmt").val();
                objDelivery.ODisP = 0.00;
                objDelivery.ODisAmt = 0.00;
                objDelivery.Display_Amount = 0.00;
                objDelivery.Adjustment = $("#txtAdj").val();
                objDelivery.Net_Amount = $("#txtnetAmt").val();
                objDelivery.CCODE = $("#ddlDealer").val();

                //objDelivery.CCODE = "0";
                objDelivery.Godown_ID = $("#ddlGodown").val();
                objDelivery.Form_Name = $("#ddlRefno").val();
                objDelivery.Desp_Date = $("#txtDispDate").val();
                objDelivery.Ref_No = 0;
                objDelivery.UpdateMaster = "true";
                objDelivery.PASSING = "false";
                objDelivery.ChkRaw = "GEN";
                objDelivery.dr_grno = 0;
                objDelivery.delchk = "false";
                objDelivery.Excise_Amt = $("#txtExcise").val();

                objDelivery.EduCess = 0.00;
                objDelivery.HSCess = 0.00;
                objDelivery.BillMode = "1";
                var Type = "0";
                if ($("#rdbExcise").prop("checked") == true) {
                    Type = "1";

                }
                else if ($("#rdbnonexcise").prop("checked") == true) {
                    Type = "0";
                }

                else if ($("#rdballexcise").prop("checked") == true) {
                    Type = "2";
                }

                objDelivery.Type = Type;



                var Excise = false;
                if ($("#rdbExcise").prop("checked") == true) {
                    Excise = true;
                }
                else if ($("#rdbnonexcise").prop("checked") == true) {
                    Excise = false;
                }

                var DTO = { 'objDeliveryDetails': ProductCollection, 'objDeliveryMaster': objDelivery, 'Excise': Excise };



                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "managedeliverynote.aspx/InsertUpdate",
                    data: JSON.stringify(DTO),
                    dataType: "json",
                    success: function (msg) {

                        var obj = jQuery.parseJSON(msg.d);

                        if (m_KitID == 0) {
                            alert("Delivery Note Added Successfully");
                        }
                        else {
                            alert("Delivery Note Updated Successfully");
                        }


                        BindGrid();
                        $("#KitDialog").dialog("close");


                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        var obj = jQuery.parseJSON(xhr.responseText);
                        alert(obj.Message);
                    },
                    complete: function () {

                    }
                });









            });


            $("#btnAddKitItems").click(
           function () {





               if (!(Number($("#txtQty").val()) > 0)) {
                   $("#txtQty").focus();
                   return;

               }


               TO = new clsProduct();
               TO.Item_ID = $("#ddlProducts option:selected").val();
               //TO.Item_Code = $("#ddlProducts option:selected").attr("item_code")
               TO.Item_Code = $("#txt_Code").val();
               //TO.Item_Name = $("#ddlProducts option:selected").attr("item_name");
               TO.Item_Name = $("#ddlProducts option:selected").text();
               TO.Qty_In_Case = $("#ddlProducts option:selected").attr("Qty_In_Case");
               TO.Scheme = "false";

               TO.Qty = $("#txtQty").val();
               TO.Rate = $("#txtRate").val();
               //TO.Sale_Rate = $("#ddlProducts option:selected").attr("Sale_Rate");
               TO.MRP = $("#ddlProducts option:selected").attr("mrp");
               TO.Amount = $("#txtAmount").val();


               TO.QTY_TO_LESS = $("#ddlProducts option:selected").attr("Qty_To_Less");
               TO.Stock = $("#txtStock").val();
               TO.Tax_ID = $("#ddlProducts option:selected").attr("tax_id")
               TO.TaxP = $("#ddlProducts option:selected").attr("tax");
               TO.Excise = $("#ddlProducts option:selected").attr("Excise");

               TO.Abatement = $("#ddlProducts option:selected").attr("Abatement");
               // TO.Dis3P = $("#ddlDealer option:selected").attr("dis");
               TO.Dis3P = "0";

               TO.Bill_Date = '1/1/1';
               ProductCollection.push(TO);


               BindRows();
               ResetList();

           }

           );



            $("#txtQty").keyup(
           function () {

               CommonCalculation();

           }
           );

            $("#txtRate").keyup(
           function () {
               CommonCalculation();


           }
           );





            $("#ddlGodown").change(
            function () {




                $("#DKID").html("<select style='width:154px' id='ddlProducts' class='form-control'></select>");
                var ItemType = "";

                if ($("#rdbcfinished").prop("checked") == true) {
                    ItemType = "3";
                }
                else if ($("#rdbraw").prop("checked") == true) {
                    ItemType = "1";
                }
                else if ($("#rdbsemi").prop("checked") == true) {
                    ItemType = "5";
                }

                var Excise = "0";
                if ($("#rdbExcise").prop("checked") == true) {
                    Excise = "1";

                }
                else if ($("#rdbnonexcise").prop("checked") == true) {
                    Excise = "2";
                }

                else if ($("#rdballexcise").prop("checked") == true) {
                    Excise = "2";
                }



                //$("#ddlProducts").supersearch({
                //    Type: "Product",
                //    Caption: "Please enter Item Name/Code ",
                //    AccountType: "",
                //    Godown: $("#ddlGodown").val(),
                //    ItemType: ItemType,
                //    Excise: Excise,
                //    Width: 214,
                //    DefaultValue: 0
                //});

            }
            );



            BindGrid();
            $("#btnNew").click(
                            function () {

                                $("#<%=hdnpassing.ClientID %>").val(true);
                                $("#btnSave").removeAttr('disabled');

                                ResetControls();
                                $("#txtBillNo").val("Auto");
                                $("#KitDialog").dialog({ autoOpen: true,
                                height: 600,
                                    width: 1115,
                                    resizable: false,
                                    modal: true
                                });
                            }
                            );

            $("#btnDelete").click(
       function () {

           var SelectedRow = jQuery('#jQGridDemo').jqGrid('getGridParam', 'selrow');
           if ($.trim(SelectedRow) == "") {
               alert("No Kit is selected to Delete");
               return;
           }

           var BillNo = $('#jQGridDemo').jqGrid('getCell', SelectedRow, 'Bill_No')


           var Prefix = $('#jQGridDemo').jqGrid('getCell', SelectedRow, 'Prefix')

           if (confirm("Are You sure to delete this record")) {
               $.uiLock('');


               $.ajax({
                   type: "POST",
                   data: '{"BillNo":"' + BillNo + '","Prefix":"' + Prefix + '"}',
                   url: "managedeliverynote.aspx/Delete",
                   contentType: "application/json",
                   dataType: "json",
                   success: function (msg) {

                       var obj = jQuery.parseJSON(msg.d);


                       BindGrid();
                       alert("Delivery Note is Deleted successfully.");

                   },
                   error: function (xhr, ajaxOptions, thrownError) {

                       var obj = jQuery.parseJSON(xhr.responseText);
                       alert(obj.Message);
                   },
                   complete: function () {
                       $.uiUnlock();
                   }
               });

           }


       }
       );


        });
   
    </script>
    <form runat="server" id="formID" method="post">
    <asp:HiddenField ID="hdnRoles" runat="server" />
      <input type="hidden" id="hdntodaydate" runat="server" value="0"/>
      <input type="hidden" id="hdnpassing" runat="server" value="0"/>
    <asp:HiddenField ID="hdnDate" runat="server" />
          <asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Manage Delivery Notes</h3>
                </div>
                <div class="x_panel">
                    <div class="form-group">
                        <div class="youhave" style="padding-left: 1px">
                           <table width="100%">
                                <tr>
                                    <td align="left">
                                        <table style="width: 450px; margin-bottom: 10px">
                                            <tr>
                                                <td>
                                                    Date From:
                                                </td>
                                                <td>
                                                    <input type="text" readonly="readonly" class="form-control input-small" style="width: 120px;
                                                        background-color: White" id="txtDateFrom" aria-describedby="inputSuccess2Status" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    Date To:
                                                </td>
                                                <td>
                                                    <input type="text" readonly="readonly" class="form-control input-small" style="width: 120px;
                                                        background-color: White" id="txtDateTo" aria-describedby="inputSuccess2Status" />
                                                </td>
                                                <td>
                                                    <div id="btnGo" class="btn btn-primary btn-small">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="jQGridDemo">
                                        </table>
                                        <div id="Div1">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table cellspacing="0" cellpadding="0" style="margin-top: 5px">
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td style="padding: 5px">
                                        <div id="btnNew" class="btn btn-primary">
                                        <i class="fa fa-external-link"></i>
                                            New</div>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td style="padding: 5px">
                                        <div id="btnEdit" class="btn btn-success">
                                        <i class="fa fa-edit m-right-xs"></i>
                                            Edit</div>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td style="padding: 5px">
                                        <div id="btnDelete" class="btn btn-danger">
                                        <i class="fa fa-trash m-right-xs"></i>
                                            Delete</div>
                                    </td>

                                       <td><div class="btn btn-danger" style="display: block;" id="btnReprint">
                                           <i class="fa fa-edit m-right-xs"></i> Reprint</div></td>
                                </tr>
                            </table>
                            <div id="jQGridDemoPager">
                            </div>
                        </div>
                        <div class="row" id="KitDialog" style="display: none; background-color:#333">
                            <uc1:AddKit ID="ucAddKit" runat="server" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            
       
        </div>
    </form>
    <script type="text/javascript">

        

                function BindGrid() {


                    var DateFrom=$("#txtDateFrom").val();
     var DateTo=$("#txtDateTo").val();
     jQuery("#jQGridDemo").GridUnload();
                    jQuery("#jQGridDemo").jqGrid({
                        url: 'handlers/managedelivery.ashx?dateFrom='+DateFrom+'&dateTo='+DateTo,
                        ajaxGridOptions: { contentType: "application/json" },
                        datatype: "json",

                        colNames: ['BillPrefix','Prefix','BillNo','BillDate','Customer','GrNo','GrDate','VehNo','BillVal','Dis3P','Dis3Amt','TaxP','TaxAmt','TotalAmt','Adjustment','NetAmount','CCode','GodownID','FormName','DespDate','Passing','DeliveryReceived'],
  


                        colModel: [
                        { name: 'BillPrefix', index: 'BillPrefix', width:100, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                   { name: 'Prefix', index: 'Prefix', width:100, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                    { name: 'Bill_No',  index: 'Bill_No', width: 100, stype: 'text', sorttype: 'int', hidden: false },
                                    { name: 'strBillDate', index: 'strBillDate', width:100, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                     { name: 'Dealer', index: 'Dealer', width: 400, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'GR_No', index: 'GR_No', width:400, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'strBillDate', index: 'strBillDate', width: 150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Veh_No', index: 'Veh_No', width:150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Bill_Value', index: 'Bill_Value', width: 150, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                     { name: 'Dis3P', index: 'Dis3P', width:100, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Dis3Amt', index: 'Dis3Amt', width:400, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'TaxP', index: 'TaxP', width: 150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'TaxAmt', index: 'TaxAmt', width:150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Total_Amount', index: 'Total_Amount', width: 150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                     { name: 'Adjustment', index: 'Adjustment', width:100, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Net_Amount', index: 'Net_Amount', width:100, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                    { name: 'CCODE', index: 'CCODE', width: 150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Godown_ID', index: 'Godown_ID', width:150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                    { name: 'Form_Name', index: 'Form_Name', width: 150, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },

                                     { name: 'strDespDate', index: 'strDespDate', width:100, stype: 'text', sortable: true, editable: true,hidden:true, editrules: { required: true } },
                                   
                                    { name: 'PASSING', index: 'PASSING', width:100, stype: 'text', sortable: true, editable: true,hidden:false, editrules: { required: true } },
                                    { name: 'delchk', index: 'delchk', width: 100, stype: 'text', sortable: true, editable: true, hidden: false, editrules: { required: true } },
                                   
                                   

                        ],
                        rowNum: 10,

                        mtype: 'GET',
                        loadonce: true,
                        rowList: [10, 20, 30],
                        pager: '#jQGridDemoPager',
                        sortname: 'Kit_ID',
                        viewrecords: true,
                        height: "100%",
                        width: "400px",
                        sortorder: 'asc',
                        caption: "Delivery Note List",

                        editurl: 'handlers/managedelivery.ashx',
                           ignoreCase: true,
                         toolbar: [true, "top"],


                    });

                     var $grid = $("#jQGridDemo");
            // fill top toolbar
            $('#t_' + $.jgrid.jqID($grid[0].id))
                .append($("<div><label for=\"globalSearchText\">Global search for:&nbsp;</label><input id=\"globalSearchText\" type=\"text\"></input>&nbsp;<button id=\"globalSearch\" type=\"button\">Search</button></div>"));
            $("#globalSearchText").keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                if (key === $.ui.keyCode.ENTER) { // 13
                    $("#globalSearch").click();
                }
            });
            $("#globalSearch").button({
                icons: { primary: "ui-icon-search" },
                text: false
            }).click(function () {
                var postData = $grid.jqGrid("getGridParam", "postData"),
                    colModel = $grid.jqGrid("getGridParam", "colModel"),
                    rules = [],
                    searchText = $("#globalSearchText").val(),
                    l = colModel.length,
                    i,
                    cm;
                for (i = 0; i < l; i++) {
                    cm = colModel[i];
                    if (cm.search !== false && (cm.stype === undefined || cm.stype === "text")) {
                        rules.push({
                            field: cm.name,
                            op: "cn",
                            data: searchText
                        });
                    }
                }
                postData.filters = JSON.stringify({
                    groupOp: "OR",
                    rules: rules
                });
                $grid.jqGrid("setGridParam", { search: true });
                $grid.trigger("reloadGrid", [{ page: 1, current: true }]);
                return false;
            });



                    $("#jQGridDemo").jqGrid('setGridParam',
            {
                onSelectRow: function (rowid, iRow, iCol, e) {
                  ResetControls();
            m_KitID = $('#jQGridDemo').jqGrid('getCell', rowid, 'Bill_No');
 
             
                }
            });

            var DataGrid = jQuery('#jQGridDemo');
            DataGrid.jqGrid('setGridWidth', '700');

            $('#jQGridDemo').jqGrid('navGrid', '#jQGridDemoPager',
                             {
                                 refresh: false,
                                 edit: false,
                                 add: false,
                                 del: false,
                                 search: false,
                                 searchtext: "Search",
                                 addtext: "Add",
                             },

                             {//SEARCH
                                 closeOnEscape: true

                             }

                               );



        }


    </script>
</asp:Content>

