﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="testprint.aspx.cs" Inherits="testprint" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntAdmin" Runat="Server">

</asp:Content>

