﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ReportPage.master.cs" Inherits="ReportPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<!DOCTYPE html>
<html lang="en">
	<head id="Head1" runat="server">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Matrix Reporting Tool</title>

		<!-- Foundation framework -->
			<link rel="stylesheet" href="foundation/stylesheets/foundation.css" />
		<!-- jquery UI -->
			<link rel="stylesheet" href="lib/jQueryUI/css/Aristo/Aristo.css" media="all" />
		<!-- fancybox -->
			<link rel="stylesheet" href="lib/fancybox/jquery.fancybox-1.3.4.css" media="all" />
		<!-- tooltips -->
			<link rel="stylesheet" href="lib/qtip2/jquery.qtip.min.css" />
		<!-- main styles -->
			<link rel="stylesheet" href="css/style.css" />

		<!-- Google fonts -->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' />
			<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' />

		<!-- Favicons and the like (avoid using transparent .png) -->
			<link rel="shortcut icon" href="favicon.ico" />
			<link rel="apple-touch-icon-precomposed" href="icon.png" />

		<!--[if lt IE 9]>
			<link rel="stylesheet" href="foundation/stylesheets/ie.css" />
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="ptrn_a grdnt_a mhover_a"style="min-height: 100%; background: none repeat scroll 0% 0% rgb(51, 51, 51);">
		<header>
			<div class="container head_s_a">
				<div class="row sepH_b">
					<div class="six columns">
						<div class="row">
							<div class="five phone-two columns">
								<div id="logo">
									<img src="img/logo.png" alt="Matrix Reporting Tools" />
								</div>
							</div>
							<div class="seven phone-two columns">
								<form action="search.php" id="search_box" method="post">
									
								</form>
							</div>
						</div>
					</div>
					<div class="six columns">
						<div class="user_box cf">
							<div class="user_avatar">
								<img src="img/user_female.png" alt="" />
							</div>
							<div class="user_info user_sep">
								<p class="sepH_a">
									<strong>Matrix Solutions</strong>
								</p>
								<span>
									<a href="#" class="sep">Settings</a>
									<a href="login.aspx">Log out</a>
								</span>
							</div>
							<div class="ntf_bar user_sep">
								<a href="#ntf_mail_panel" class="ntf_item" style="background-image: url(img/ico/icSw2/32-Mail.png)">
									<span class="ntf_tip ntf_tip_red"><span>12</span></span>
								</a>
								<a href="#ntf_tickets_panel" class="ntf_item" style="background-image: url(img/ico/icSw2/32-Day-Calendar.png)">
									<span class="ntf_tip ntf_tip_red"><span>122</span></span>
								</a>
								<a href="#ntf_comments_panel" class="ntf_item" style="background-image: url(img/ico/icSw2/32-Speech-Bubble.png)">
									<span class="ntf_tip ntf_tip_blue"><span>8</span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<nav id="smoothmenu_h" class="ddsmoothmenu">
							<ul class="cf" style="background:black">

                            
                         	<li>
									<a href="../index.aspx" class="mb_parent first_el">DashBoard</a>
									
								</li>

                                  <li><a><i class="fa fa-table"></i> Sale Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">

                                    <li>
									<a href="RptSaleDetailed.aspx" class="mb_parent">CashMemo Wise Sale</a>
									
								</li>
                                    <li>
									<a href="DepartmentSaleRpt.aspx" class="mb_parent">Dept Sale Report</a>
									
								</li>

                                 <li>
									<a href="CreditCardSale.aspx" class="mb_parent">CreditCard Wise Sale</a>
									
								</li>

                                 <li>
									<a href="CreditSale.aspx" class="mb_parent">Credit Sale</a>
									
								</li>

                                 <li>
									<a href="taxwisesalerpt.aspx" class="mb_parent">Tax Wise Sale</a>
									
								</li>
                                <li>
									<a href="billdetailedrpt.aspx" class="mb_parent">Bill Detail</a>
									
								</li>

                                <li>
									<a href="RptBillCancel.aspx" class="mb_parent">Bill Cancel Report</a>
									
								</li>

                                <li>
									<a href="rptcompanysale.aspx" class="mb_parent">Company Wise Sale</a>
									
								</li>

                                <li>
									<a href="itemsale.aspx" class="mb_parent">Item Sale</a>
									
								</li>


                                <li>
									<a href="groupsale.aspx" class="mb_parent">Group Wise Sale</a>
									
								</li>

                                <li>
									<a href="subgroupsale.aspx" class="mb_parent">Sub-Group Wise Sale</a>
									
								</li>

                                <li>
									<a href="deprtmentgroupwisesale.aspx" class="mb_parent">Department Group Wise Sale</a>
									
								</li>
                                 <li>
									<a href="RptOnlinePayment.aspx" class="mb_parent">Online Sale</a>
									
								</li>

                                          <li>
									<a href="rptreceipts.aspx" class="mb_parent">Creadit Receipts</a>
									
								</li>
                                              <li>
									<a href="rptDisAmt.aspx" class="mb_parent">DisAmt Report</a>
									
								</li>
                                     </ul>
                                </li>


<%--                                  <li><a><i class="fa fa-table"></i> Excise Sale Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
								<li>
									<a href="ExciseCumSaleReg.aspx" class="mb_parent">Excise Cum Sale</a>
									
								</li>
                                
                                <li>
									<a href="RGRegister.aspx" class="mb_parent">RG Register</a>
									
								</li>
                                </ul>
                                </li>--%>

                                 <li><a><i class="fa fa-table"></i> FOC Sale Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
								<li>
									<a href="FOCItemSalerpt.aspx" class="mb_parent">Item Sale</a>
									
								</li>
                                <li>
									<a href="FOCSalerpt.aspx" class="mb_parent">Bill Date Wise</a>
									
								</li>
                                
                                </ul>
                                </li>
                               
								

                                  <li><a><i class="fa fa-table"></i> Stock Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="CurrentStock.aspx" class="mb_parent">Current Stock Report</a>
									
								</li>
                                 <li>
									<a href="ReportStockLedger.aspx" class="mb_parent">Stock Ledger Report</a>
									
								</li>

                                 <li>
									<a href="RptStockExpiry.aspx" class="mb_parent">Stock Expiry Report</a>
									
								</li>

                                  <li>
									<a href="RptMinLevelReport.aspx" class="mb_parent">Min Level Report</a>
									
								</li>
                                     </ul>
                                </li>
								
                                	
								 <li><a><i class="fa fa-table"></i> Order Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
								<li>
									<a href="orderbookingrpt.aspx" class="mb_parent">OrderDate Wise</a>
									
								</li>
                                <li>
									<a href="OrderBookingDelivryDate.aspx" class="mb_parent">DeliveryDate Wise</a>
									
								</li>

                                  <li>
									<a href="orderbookingbalancerpt.aspx" class="mb_parent">Balance Report</a>
									
								</li>
                                <li>
									<a href="cashsummaryrpt.aspx" class="mb_parent">Cash Summary Report</a>
									
								</li>
                                </ul>
                                </li>


                                <li>
									<a href="Expenditure.aspx" class="mb_parent">Expenditure Report</a>
									
								</li>

                                 <li><a><i class="fa fa-table"></i> Delivery Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="deliverynoterpt.aspx" class="mb_parent">Delivery Issue Report</a>
									
								</li>
                                 <li>
									<a href="deliveryreceiptrpt.aspx" class="mb_parent">Delivery Receipt Report</a>
									
								</li>
                                     </ul>
                                </li>


                                 <li><a><i class="fa fa-table"></i> Accounts Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="rptledger.aspx" class="mb_parent">Customer Ledger</a>
									
								</li>
                                 
                                     </ul>
                                </li>


                                  <li><a><i class="fa fa-table"></i> Internal Issue Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="internalissue.aspx" class="mb_parent">Internal Issue Date Wise Report</a>
									
								</li>
                                <li>
									<a href="internalissueconsolidate.aspx" class="mb_parent">Internal Issue Dept Wise (Consolidate)</a>
									
								</li>
                                 <li>
									<a href="internalissuedept.aspx" class="mb_parent">Internal Issue Dept Wise</a>
									
								</li>

                                  <li>
									<a href="internalissueitemwise.aspx" class="mb_parent">Internal Issue Item Wise</a>
									
								</li>
                                     </ul>
                                </li>

                                 <li><a><i class="fa fa-table"></i> Small Printer Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="RptUserWiseSaleRpt.aspx" class="mb_parent">User Wise Sale Report</a>
									
								</li>

                                 <li>
									<a href="UserWiseSaleReturnRPT.aspx" class="mb_parent">User Wise Sale Return Report</a>
									
								</li>
                                <li>
									<a href="RptDailySale.aspx" class="mb_parent">Daily Sale Report</a>
									
								</li>
                                 <li>
									<a href="BillNoWiseSaleReport.aspx" class="mb_parent">Bill Wise Sale Report</a>
									
								</li>

                                  <li>
									<a href="newgroupreport.aspx" class="mb_parent">Group Wise Sale Report</a>
									
								</li>

                                <li>
									<a href="GroupWiseSaleDetail.aspx" class="mb_parent">Group Wise Sale Detail Report</a>
									
								</li>


                                 <li>
									<a href="RptGetCurrentStock.aspx" class="mb_parent">Stock Report</a>
									
								</li>

                                 <li>
									<a href="CrCardSmallPrinter.aspx" class="mb_parent">CrCard Sale Report</a>
									
								</li>

                                  <li>
									<a href="ItemSaleDetailedRPT.aspx" class="mb_parent">Item Wise Sale Report</a>
									
								</li>

                                 <li>
									<a href="DeptsaleSmallprinter.aspx" class="mb_parent">Dept Wise Sale Report</a>
									
								</li>
								 <li>
									<a href="smallprintertax.aspx" class="mb_parent">Tax Wise Sale Report</a>
									
								</li>

                                        	 <li>
									<a href="smonlinesale.aspx" class="mb_parent">Online Sale</a>
									
								</li>

                                                 <li>
									<a href="smdisamt.aspx" class="mb_parent">DisAmt Report</a>
									
								</li>

                                     </ul>
                                </li>
                                 <li><a><i class="fa fa-table"></i> Kot Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="PendingKotReport.aspx" class="mb_parent">Pending KOT Report</a>
									
								</li>
                                <li>
									<a href="RptCancelledKot.aspx" class="mb_parent">Void KOT Report</a>
									
								</li>

                                  <li>
									<a href="ComplemetaryKot.aspx" class="mb_parent">Complementary KOT Report</a>
									
								</li>
                                <li>
									<a href="ReportKotUtilization.aspx" class="mb_parent">Bill Utilization Report</a>
									
								</li>
                                 <li>
									<a href="reportFreebill.aspx" class="mb_parent">Free Item Report</a>
									
								</li>

                                

                                     </ul>
                                </li>


								
                                             <li><a><i class="fa fa-table"></i>GST Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li>
									<a href="RptSalegst.aspx" class="mb_parent">Sale State/Party Wise Report</a>
									
								</li>
                              
                                  
                                      <li>
									<a href="RptPurchaseReport.aspx" class="mb_parent">Purchase State/Party Wise Report</a>
									
								</li>
                                  
                                     </ul>
                                </li>
							
								
							</ul>
						</nav>
						
					</div>
				</div>
			</div>
			<!-- notifications content -->
			<div style="display:none">
				<div id="ntf_tickets_panel" style="display:none">
					<p class="sticky-title">New Tickets</p>
					<ul class="sticky-list">
						<li>
							<a href="#">Admin should not break if URL&hellip;</a>
							<p><span class="s_color small">updated 01.04.2012</span></p>
						</li>
						<li>
							<a href="#">Displaying submenus in custom&hellip;</a>
							<p><span class="s_color small">updated 01.04.2012</span></p>
						</li>
						<li>
							<a href="#">Featured image on post types.</a>
							<p><span class="s_color small">updated 24.03.2012</span></p>
						</li>
						<li>
							<a href="#">Multiple feed fixes and&hellip;</a>
							<p><span class="s_color small">updated 22.03.2012</span></p>
						</li>
						<li>
							<a href="#">Automatic line breaks in&hellip;</a>
							<p><span class="s_color small">updated 18.03.2012</span></p>
						</li>
						<li>
							<a href="#">Wysiwyg bug with shortcodes.</a>
							<p><span class="s_color small">updated 08.10.2012</span></p>
						</li>
					</ul>
					<a href="#" class="gh_button btn-small">Show all tickets</a>
				</div>
				<div id="ntf_comments_panel" style="display:none">
					<p class="sticky-title">New Comments</p>
					<ul class="sticky-list">
						<li>
							<a href="#">Lorem ipsum dolor sit amet&hellip;</a>
							<p><span class="s_color small">John Smith on Maiden Castle, Dorset (29.10.2012)</span></p>
						</li>
						<li>
							<a href="#">Lorem ipsum dolor sit&hellip;</a>
							<p><span class="s_color small">John Smith on Draining and development&hellip; (29.10.2012)</span></p>
						</li>
					</ul>
					<a href="#" class="gh_button btn-small">Show all comments</a>
				</div>
				<div id="ntf_mail_panel" style="display:none">
					<p class="sticky-title">New Messages</p>
					<ul class="sticky-list">
						<li>
							<a href="#">Lorem ipsum dolor sit amet&hellip;</a>
							<p><span class="s_color small">From John Smith (29.10.2012)</span></p>
						</li>
						<li>
							<a href="#">Lorem ipsum dolor sit&hellip;</a>
							<p><span class="s_color small">From John Smith (28.10.2012)</span></p>
						</li>
					</ul>
					<a href="#" class="gh_button btn-small">Show all messages</a>
				</div>
			</div>
		</header>
		<div class="container">
        <form id ="frm" runat="server">
			<asp:ContentPlaceHolder ID="cntMaster" runat="server"></asp:ContentPlaceHolder>
            </form>
		</div>
		<footer class="container" id="footer">
			<div class="row">
				<div class="twelve columns">
                    Copyright &copy; 2015 Matrix Solutions.
				</div>
			</div>
		</footer>
		<div class="sw_width">
			<img class="sw_full" title="switch to full width" alt="" src="img/blank.gif" />
			<img style="display:none" class="sw_fixed" title="switch to fixed width (980px)" alt="" src="img/blank.gif" />
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="lib/jQueryUI/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="js/s_scripts.js"></script>
		<script src="js/jquery.ui.extend.js"></script>
		<script src="lib/qtip2/jquery.qtip.min.js"></script>
        <script src="js/jquery.customforms.js"></script>
		<script src="js/pertho.js"></script>
		<script>
		    $(document).ready(function () {
		        //* common functions
		        prth_common.init();

		        //* sticky footer
		        prth_stickyFooter.init();
		        $("html").removeClass("js");
		    });
		</script>
	</body>
</html>