﻿.ui-draggable .ui-dialog-titlebar {background-color: #f06671;}
.raisebill_dialoge {padding: 0px 0px !important; background-color: #fffff6 !important;}
.raisebill_dialoge .Search {margin: 0px 0px 10px; padding: 0px 20px 10px; border: none; border-radius: 0px; background-color: #46c9ac;}
.raisebill_dialoge .input-group {margin: 0px;}
.raise_bill_search .input-group td {padding: 0px 5px 0px !important;color: #fff;font-size: 15px;}
.raise_bill_search table input {width: 100px; height: 35px; padding: 0 5px; color: #000;}
.raisebill_middle #products {
    height: 300px;
    border: 1px solid #46c9ac;
    border-radius: 10px;
    width: 96%;
    float: right;
    background-color: #fff;}
.raisebill_middle .leftside {
    margin: 0px;
    border: none;
    background-color: #f06671;
    border-radius: 0px;}
.raisebill_middle div#dvProductList {
    border: 1px solid #46c9ac;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 97%;
    margin: 0 auto;}
    .raisebill_middle .cate {margin: 0px;height: 262px;border: none;}
    .raisebill_middle .net_amount {
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #46c9ac;
    width: 95%;}
    .net_amount table td {color: #000; font-size: 14px;padding: 5px 6px;}
    .net_amount input {margin: 0px;}
    .raisebill_buttons {margin: 10px 0;float: left; width: 100%;display: inline-flex;}
    .raisebill_buttons .button1 {width: 108px;font-size: 12px; font-weight: 600;}
    .raisebill_middle .cate2 {margin: 13px auto 0;width: 97%;}