﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border-radius: 0px;
    background-color: #f06671;
}
[aria-labelledby=ui-id-1] div#dvIMDialog {
    width: 100%;
    padding: 0px;
    height: auto;
}

.manage_item_master .tabcontents::-webkit-scrollbar {width: 25px;}
.manage_item_master .tabcontents::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.manage_item_master .tabcontents::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}

.manage_item_master .tabcontents {
    padding: 0px 0 30px;
    width: 100%;
    overflow: auto;
}
.manage_item_master {
    background: rgb(225, 225, 225) !important;
    color: #000;
    font-size: 13px;
}
table.tables {
    float: left;
    border: 1px solid #46c9ac;
    width: 100%;
    overflow: hidden;
}
.manage_master_tabs {
    margin: 1px 0 !important;
    width: 100%;
    float: left;
}
.tables_headings {
    background-color: #46c9ac;
    color: #fff;
    padding: 0px 15px;
}
.tables_contant td {
    padding: 5px 15px;
}
.manage_master_tabs li a {
    background: -webkit-linear-gradient(#46c9ac, #46c9ac);
    color: #fff !important;
    border: 1px solid #fff !important;
        border-radius: 0px !important;
}
.manage_master_tabs li a:hover {
    background: -webkit-linear-gradient(#2d4019, #528a1e) !important;
}
.all_tables {
    background-color: #fff;
}
.all_tables td {
    padding: 2px 10px;
    border-bottom: 1px solid #ffdfe2;
}


.inner_table td {
    padding: 0px;
        border: none;
}
.all_tables select {
    width: 115px;
    height: 20px;
    padding: 0px;
    font-size: 12px;
            border-radius: 0px;
}
span.fa.fa-plus {
    margin: 0 0 0 4px;
    cursor: pointer;
}


.all_tables input {
    width: 115px;
    height: 20px;
    padding: 0px;
    font-size: 12px;
    margin: 0px;
        border-radius: 0px;

}
.all_tables label {
    font-size: 12px;
    margin: 0px;
    width: 80px;
    float: left;
}
.all_tables textarea#txtIMComments {
    width: 100% !important;
    height: 45px;
}
[type=checkbox] {
    float: right;
    width: 15px !important;
        cursor: pointer;        
}
[type=radio] {
    width: 15px !important;
    float: left;
    cursor: pointer;
}
.manage_item_btn button {
    width: 150px;
    height: 44px;
    border-radius: 0px;
    border: none;
        margin: 2px 0px;
}
.manage_item_btn i {
    margin: 0 5px 0 0;
}



/*media*/

   @media screen and (max-width:1365px) and (min-width:1200px) {
    
    }
      @media screen and (max-width:1199px) and (min-width:1000px) {
    
    }
