﻿body,html {overflow-x: hidden;}
div[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0 !important;
    top: 0px !important;
    padding: 0px;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border-radius: 0px;
    background-color: #f06671;
}
.buttons .button1:focus {
    outline: 5px solid blue;
}
.nbscreen_dialog {
    width: 100% !important;
    padding: 0px !important;
    overflow: unset !important;
    height: auto !important;
    min-height: auto !important;
}
select#cntAdmin_DropDownList1 {
    margin: 3px 0 0;
    width: 150px;
    text-align: center;
    color: #000;
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
    border: 2px solid #f06671;
    float: right;
}
.product_table {
    height: 427px;
    width: 100%;
    float: left;
    overflow: auto;
}
.product_table::-webkit-scrollbar {width: 25px;}
.product_table::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.product_table::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}

.nbscreen_product_list .leftside {
    background-color: #46c9ac;
    margin: 0px 0px 0;
    width: 100%;
    padding: 10px 0;
    border: 1px solid;
}
.nbscreen_product_list .leftside th {
    width: 100px;
    text-align: center;
}
#tbProductInfo td {
    width: 100px;
    text-align: center;
    font-size: 14px;
}
#tbProductInfo input {
    width: 90px;
    text-align: center;
}
.nbscreen_product_list .leftside table {
    width: 83%;
}
.nbscreen_product_list .cate {
    width: 100%;
    float: left;
    margin: 0px;
        padding: 0px;
}
.nbscreen_cate2 {
    width: 100%;
    float: left;
    margin: 0px;
}
.nbscreen_cate2 #tbamountinfo {
    width: 100%;
    float: left;
    padding: 0px;
        background-color: #46c9ac;
    margin: 0px;
}
.nbscreen_cate2 #tbamountinfo .main_td {
    width: 50%;
    float: left;
    padding: 0 25px;
        color: #fff;
}
.nbscreen_cate2 #tbamountinfo .main_td_right {
    width: 50%;
    float: left;
    padding: 0 15px;
    border-left: 2px solid #fff;
}


.main_td span {
    font-size: 15px;
    width: 45%;
    float: left;
}
.main_td table {
    width: 100%;
}
.main_td table td {
    font-size: 15px;
    width: 100px;
    text-align: left;
    padding: 0px;
}
.main_td .item_numbers {
    width: 40%;
    margin: 0 auto;
    background-color: #46c9ac;
    color: #fff;
    float: left;
    font-weight: 600;
    padding: 1px 0 0 45px;
        border-left: 2px solid;
}


.main_td_right #myCustomTable {
    width: 70%;
    margin: 0 auto;
    background-color: #46c9ac;
    color: #fff;
    box-shadow: inset 0px 0px 5px 0px #00000073;
    float: right;
}
.main_td_right #myCustomTable td {
    width: 75px;
    text-align: left;
}
.main_td_right #myCustomTable td {
    width: 105px;
    text-align: left;
    font-size: 14px;
    padding: 2px 10px;

}
.main_td_right .input-small {
    margin: 0px;
    width: 35px;
    text-align: center;
    color: #000;
}
.main_td_right tr {
    border-bottom: 1px solid #0000001f;
    width: 100%;
    float: left;
}
.nbscreen_itemcode {
    margin: 0 0 0 40px !important;
    width: 20% !important;
    border: 2px solid #f06671  !important;
    font-size: 22px !important;
    padding: 15px 20px !important;
    text-align: left !important;
    float: left;
}
.nbscreen_cate1 #tbProductInfo {
    width: 100%;
    float: left;
}
.nbscreen_cate1 table.buttons {
    width: 15%;
    margin: 0 15px 0 0;
    float: right;
    border-left: 2px solid #00000045;
}
.buttons td {
    display: initial;
}
.buttons .button1 {
    width: 100%;
    height: 46px;
    float: left;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
}
.user_btn_bottom {
    width: 45%;
    float: left;
    margin: 10px 0 0;
}
.cash_customer_detail {
    width: 48%;
    float: right;
    margin: 10px 0 0 0;
    background-color: #d8d8d8;
}
.cash_customer_detail tr {
    float: left;
}
.cash_customer_detail td {
    width: 100% !important;
}
.cash_customer_detail img {
    position: relative;
    left: 130px;
    top: -2px;
}
.cash_customer_detail table label {
    margin: 0px;
}
.cash_customer_detail table {
    padding: 2px 8px;
}
.cash_customer_detail label#lblCashCustomerName {
    color: #000;
}




.user_btn_bottom ul {
    margin: 0px;
    padding: 0px;
}
.user_btn_bottom ul li {
    list-style: none;
    padding: 0px;
    float: left;
}
.user_btn_bottom ul li input#usr {
    width: 230px;
    height: 40px;
    margin: 0px;
    float: left;
}
.user_btn_bottom ul li img {
    width: 33px;
    margin: 0 0 0 15px;
    cursor: pointer;
}
.leftside th:nth-child(2) {
    width: 425px;
}
#tbProductInfo tr td:nth-child(2) {
    width: 425px;
}
.both_amount {
    width: 100%;
    float: left;
    padding: 10px 0 0;
}
p.back_short_key {
    float: left;
    margin: 00px;
    font-size: 15px;
    padding: 9px 27px;
}
.table_and_shortkey {
    width: 83%;
    float: left;
}

.both_amount .bill_numb {
    width: 50%;
    float: left;
}
.both_amount ul {
    padding: 0px;
    margin: 0px;
}
.both_amount ul li {
    float: left;
    list-style: none;
    padding: 0 40px 0 0;
}
.both_amount ul li p {
    margin: 0px;
    font-size: 17px;
    color: #fff;
}
.both_amount ul li p span {
    color: black;
    font-weight: 700;
    width: 100%;
    text-shadow: 1px 1px 0px #f06671;
    font-size: 17px;
}
#dvsbtotal{
    color: black;
    font-weight: 700;
    width: 100%;
    text-shadow: 1px 1px 0px #f06671;
    font-size: 17px;
}
.both_amount .bill_amount {
    width: 50%;
    float: right;
    padding: 0 0 0 15px;
}






/*media*/
@media screen and (max-width:1300px) and (min-width:1151px)
{
    .buttons .button1{height: 40px;}
    .product_table {width: 100%;height: 400px;}
    .both_amount ul li{padding: 0 20px 0 0;}
    .table_and_shortkey {width: 83%;}
    .nbscreen_cate1 table.buttons {width: 15%;}
    .nbscreen_product_list .leftside table {width: 83%;}
    .main_td span {font-size: 14px; width: 50%;}
    .main_td .item_numbers {width: 50%; padding: 1px 0 0 13px;}
}
@media screen and (max-width:1150px) and (min-width:1000px)
{
    .buttons .button1{height: 40px;}
    .product_table {width: 100%;height: 375px;}
    .both_amount ul li{padding: 0 10px 0 0;}
    .table_and_shortkey {width: 79%;}
    .nbscreen_cate1 table.buttons {width: 19%;}
    .nbscreen_product_list .leftside table {width: 79%;}
    .main_td span {font-size: 14px; width: 50%;}
    .main_td .item_numbers {width: 50%; padding: 1px 0 0 13px;}
}
@media screen and (max-width:999px) and (min-width:768px)
{
    .user_btn_bottom ul li img {margin: 0px 0 0 2px;}
    .main_td table td{    font-size: 12px;}
    .both_amount ul li p{font-size: 12px;}
    .buttons .button1{height: 40px;}
    .product_table {width: 100%;height: 356px;}
    .both_amount ul li{padding: 0 10px 0 0;}
    .table_and_shortkey {width: 77%;}
    .nbscreen_cate1 table.buttons {width: 20%;}
    .nbscreen_product_list .leftside table {width: 77%;}
    .main_td span {font-size: 12px; width: 50%;line-height: 18px;}
    .main_td .item_numbers {width: 50%; padding: 1px 0 0 13px;}
    .nbscreen_cate2 #tbamountinfo .main_td {padding: 0 10px;}
    .buttons .button1 {height: 38px;width: 100%;padding: 8px 0 0 5px;}
    #tbProductInfo input {width: 35px;border: 1px solid #8a8a8a;}
    .nbscreen_itemcode {margin: 0 0 0 25px !important; width: 30% !important; font-size: 18px !important;}
    .nbscreen_product_list .leftside {padding: 10px 5px;}
}
@media screen and (max-width:767px) and (min-width:600px)
{
    .user_btn_bottom ul li img {margin: 0px 0 0 2px;}
    .main_td table td{    font-size: 10px;}
    .both_amount ul li p{font-size: 10px;}
    .buttons .button1{height: 40px;}
    .product_table {width: 100%;height: 356px;}
     .both_amount ul li{padding: 0 5px 0 0;}
     .both_amount ul li:last-child {padding: 0px;}
     .main_td_right #myCustomTable td{    font-size: 10px;}
     .both_amount .bill_amount {padding: 0 0 0 0px;}
     .user_btn_bottom {width: 100%;}
     .both_amount {padding: 5px 0 0;}
     .both_amount ul li p span{font-size: 10px;}
    .table_and_shortkey {width: 75%;}
    .nbscreen_cate1 table.buttons {width: 22%;}
    .nbscreen_product_list .leftside table {width: 75%;}
    .main_td span {font-size: 10px; width: 100%;line-height: 18px;}
    .main_td .item_numbers {width: 100%; padding: 5px 0 0; border: none;}
    .nbscreen_cate2 #tbamountinfo .main_td {padding: 0 0px 0 10px;}
    .buttons .button1 {height: 38px;width: 100%;    padding: 7px 0 0 5px;}
    #tbProductInfo input {width: 35px;border: 1px solid #8a8a8a;}
    .nbscreen_itemcode {margin: 0 0 0 15px !important; width: 35% !important; font-size: 15px !important;}
    .nbscreen_product_list .leftside {padding: 10px 5px;}
    body,html {overflow-x: hidden;}
    .main_td_right #myCustomTable{width: 100%;}
}

@media screen and (max-width:599px) and (min-width:500px)
{
        .user_btn_bottom ul li img {margin: 0px 0 0 2px;}
    .main_td table td{    font-size: 10px;}
    .both_amount ul li p{font-size: 10px;}
    .buttons .button1{height: 40px;}
    .product_table {width: 100%;height: 356px;}
    .both_amount ul li{padding: 0 5px 0 0;}
    .both_amount {padding: 5px 0 0;}
    .both_amount ul li:last-child {padding: 0px;}
    .table_and_shortkey {width: 72%;}
    .both_amount .bill_amount {padding: 0 0 0 0px;}
    .nbscreen_cate1 table.buttons {width: 25%;}
    .nbscreen_product_list .leftside table {width: 72%;}
    .main_td span {font-size: 10px; width: 100%;line-height: 18px;}
    .main_td .item_numbers {width: 100%; padding: 5px 0 0; border: none;}
    .nbscreen_cate2 #tbamountinfo .main_td {padding: 0 0 0 8px;}
    .buttons .button1 {height: 38px;width: 100%;    padding: 7px 0 0 5px;}
    .user_btn_bottom {width: 100%;}
    #tbProductInfo input {width: 35px;border: 1px solid #8a8a8a;}
    .nbscreen_itemcode {margin: 0 0 0 15px !important;width: 35% !important;font-size: 12px !important; border: 1px solid #f06671 !important;}
    .nbscreen_product_list .leftside {padding: 10px 5px;}
    body,html {overflow-x: hidden;}
    .main_td_right #myCustomTable{width: 100%;}
    .nbscreen_product_list .leftside th {font-size: 10px;}
    #tbProductInfo tr td {font-size: 10px;}
    #dvClose img {width: 15px;}
    .main_td_right #myCustomTable td {font-size: 10px;}
    .main_td table td {font-size: 11px;}
    .user_btn_bottom ul li input#usr {width: 190px; height: 35px;}
    .user_btn_bottom ul li img {width: 35px; margin: 0 0 0 10px;}
    p.back_short_key{    font-size: 14px;}
}





